extends layout

block content
  .jumbotron
    h1 APP naam
    p.lead See all dinner places nearby
    p
      a.btn.btn-primary.btn-large(href='http://www.foxbear.nl/') zoeken &raquo;
  .row
    .col-md-4
      h2 Lunchtime
      p Your lunchplaces nearby
      p
        a.btn.btn-default(href='http://www.foxbear.nl/') Overview &raquo;
        a.btn.btn-default(href='http://www.foxbear.nl/') Your taste &raquo;
    .col-md-4
      h2 Beleef
      p ontdek het lekkerste locale eten bij u thuis
      p
        a.btn.btn-default(href='https://www.foxbear.nl/') kies een gerecht &raquo;
    .col-md-4
      h2 Nieuwe 
      p moeten we nog verzinnen 
      p
        a.btn.btn-default(href='http://www.foxbear.nl') Meld je aan &raquo;
