extends layout

block content
  .jumbotron
    h2 APP naam
    p.lead 
        img(class='img-responsive' src='images/restaurant.jpg' class='img-rounded' alt='Cinque Terre' width='450' height='300')
    p
      a.btn.btn-primary.btn-large(href='http://www.foxbear.nl/') dinner nearby &raquo;
  .row
    .col-md-4
      
      p.lead
        img(class='img-responsive' src='images/lunch.jpg' class='img-rounded' alt='Cinque Terre' width='500' height='180')
      p
        a.btn.btn-default(href='http://www.foxbear.nl/')  &raquo;
        a.btn.btn-default(href='http://www.foxbear.nl/') Your taste &raquo;
    .col-md-4
      
      p 
        img(class='img-responsive' src='images/beleef.png' class='img-rounded' alt='Cinque Terre' width='500' height='200')

      p
        a.btn.btn-default(href='https://www.foxbear.nl/') kies een gerecht &raquo;
    .col-md-4
      h2 Nieuwe 
      p moeten we nog verzinnen 
      p
        a.btn.btn-default(href='http://www.foxbear.nl') Meld je aan &raquo;
